<app-nav-bar></app-nav-bar>

<div class="container" >
  <div class="row" style="padding-top:115px">
    <div class="col-6">
      <div class="row" *ngFor="let product of dataList">
        <div class="col-6">
          <img class="img-thumbnail" src={{product.thumbnail}} alt="Card image cap">
        </div>
        <div class="col-6">
          <h1>{{product.title}}</h1>
          <h3>${{product.price}}</h3>
          <div class="form-group">
            <label for="inputPassword6">Amount:</label>
            <input max="10" min="1" class="amount" type="number" (change)="changeNumber()" [(ngModel)]="product.discountPercentage"   id="inputPassword6" aria-describedby="passwordHelpInline">
            <div>
              <button (click)="removeItem(product.id)" type="button" class="btn btn-danger">Remove From Cart</button>
            </div>
          </div>
        </div>
      </div>
      <h1>Total:${{totalResult}}</h1>
    </div>

    <div class="col-6">
      <form #itemForm="ngForm" id="form" (ngSubmit)="onSubmit(itemForm)" >
        <div class="form-row">


          <div class="form-group col-md-7">
            <label for="inputEmail4">Full Name</label>
            <input
            [ngClass]="{
              'is-invalid':(Name.invalid && (Name.dirty || Name.touched)) ,
              'is-valid':(Name.valid)
            }"
             type="text" class="form-control" required id="inputEmail4" minlength="3" name="Name" #Name="ngModel" placeholder="(minimum 3 character)"  [(ngModel)]="model.Name">
             <div *ngIf="Name.invalid && (Name.dirty || Name.touched)">
              <div *ngIf="Name.errors?.['required']" style="color: red;margin-top: -38px;margin-top: -22px">
               Full Name Is required.
              </div>
              <div *ngIf="Name.errors?.['minlength']" style="color: red;margin-top: -38px;margin-top: -22px">
                Full Name Must Be 3 Character or More.
              </div>
            </div>
          </div>


          <div class="form-group col-md-7">
            <label for="inputEmail4">Address</label>
            <input
            [ngClass]="{
              'is-invalid':(Address.invalid && (Address.dirty || Address.touched)) ,
              'is-valid':(Address.valid)
            }"
            type="text" class="form-control" required id="inputEmail4" minlength="6" #Address="ngModel" name="Address" placeholder="(minimum 6 character)" [(ngModel)]="model.Address">
            <div *ngIf="Address.invalid && (Address.dirty || Address.touched)">
              <div *ngIf="Address.errors?.['required']" style="color: red;margin-top:-38px;margin-top:-22px">
                Address Is required.
              </div>
              <div *ngIf="Address.errors?.['minlength']" style="color: red;margin-top:-38px;margin-top:-22px">
                Address Must Be 6 Character or More.
              </div>
            </div>
          </div>



          <div class="form-group col-md-7">
            <label for="inputEmail4">Credit Card Number</label>
            <input
            [ngClass]="{
              'is-invalid':(CardNumber.invalid && (CardNumber.dirty || CardNumber.touched)) ,
              'is-valid':(CardNumber.valid)
            }"
            type="number" min="1111111111111111" max="9999999999999999" class="form-control" required id="inputEmail4" #CardNumber="ngModel" name="CardNumber" placeholder="(16 Digit number)" [(ngModel)]="model.CardNumber">
            <div *ngIf="CardNumber.invalid && (CardNumber.dirty || CardNumber.touched)">
              <div *ngIf="CardNumber.errors?.['required']" style="color:red;margin-top:-38px;margin-top:-22px">
                Card Number Is required.
              </div>
              <div *ngIf="CardNumber.errors?.['min']" style="color: red;margin-top:-38px;margin-top:-22px">
                Card Number Must Be 16 Number.
              </div>
              <div *ngIf="CardNumber.errors?.['max']" style="color: red;margin-top:-38px;margin-top:-22px">
                Card Number Must Be 16 Number.
              </div>
            </div>
          </div>

          <p>We Will Never Share Your Payment Details With Anyone Else.</p>
        </div>
        <button [disabled]="!itemForm.valid"  type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

