.side{
  padding-left: 10%;
  margin-top: 10%;
}
h1{
  font-size: xxx-large;
  font-weight: 600;
}
.button1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.route{
  color: #0D6EFD;
  cursor: pointer;
}
img{
  width: 85%;
  /* height: 20%; */
  max-height: 365px;
}
option{
  background-color: dimgrey;
}
