<app-nav-bar></app-nav-bar>


<div style="width: fit-content;margin-top: 4%; margin-left: auto; margin-right: auto;" *ngIf="alert" class="  fixed-top alert alert-danger alert-dismissible fade show"  role="alert">
  <strong>{{titleForAlert}} Already in Card</strong>
  <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div style="width: fit-content;margin-top: 4%; margin-left: auto; margin-right: auto;" *ngIf="alert2" class=" fixed-top alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{titleForAlert}} Is Added To Card Succseefully</strong>
  <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="container">
  <div class="row" style="padding-top: 115px;">
    <div class="col-6">
      <img class="img-thumbnail"src={{model.thumbnail}} alt="Card image cap">
    </div>
    <div class="col-6 side">
      <h1>{{model.title}}</h1>
      <p>${{model.price}}</p>
      <p>{{model.description}}</p>
      <select style="width: 105px;" (change)="numberSelected($event)">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <div>
        <button class="btn btn-primary button1" (click)="addFav(model)">Add to cart</button>
      </div>
      <p class="route" [routerLink]="['/']"><i class="fa fa-arrow-left"></i> Back To Product List</p>
    </div>
  </div>
</div>
