<app-nav-bar></app-nav-bar>
<div class="container" style="padding-top: 360px;">
  <div class="row" style="text-align: center;">
    <div class="suc">
      Success!<img src="../../../assets/images/download.jfif">
    </div>
    <div>
      Thank You , <span>{{user}}</span>
    </div>
    <div style="margin-top: 20px;">
      Your <span>${{totalResult}}</span> order is confirmed!
    </div>
    <div style="margin-top: 20px;">
      Please allow 1-3 business day(s) for shipping.
    </div>
    <div style="margin-top: 20px;">
      <button routerLink="/" class="btn btn-primary">Back to producrt list</button>
    </div>
  </div>
</div>
