<nav  class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid" style="display: block;">
    <div class="navbar-brand" style="text-align: center;font-size: 29px;font-weight: 600;">MyStore</div>
    <button style="float:right;margin-top:-33px" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01" style="justify-content: center;margin-right: 16px;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link ">Product List</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/cart']" routerLinkActive="active"  class="nav-link"> Cart <i class="fa fa-shopping-cart"style="font-size:19px"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>











