
<div style="width: fit-content;margin-top: 4%; margin-left: auto; margin-right: auto;" *ngIf="alert" class="  fixed-top alert alert-danger alert-dismissible fade show"  role="alert">
  <strong>{{titleForAlert}} Already in Card</strong>
  <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div style="width: fit-content;margin-top: 4%; margin-left: auto; margin-right: auto;" *ngIf="alert2" class=" fixed-top alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{titleForAlert}} Is Added To Card Succseefully</strong>
  <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row" >
  <div data-aos="fade-down-right" data-aos-duration="1000" *ngFor="let product of productList" class=" col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12  text-center" style="margin-top: 115px;">
    <div class="card">
      <img [routerLink]="['/details']" (click)="routee(product.id)" src={{product.thumbnail}} class="img-thumbnail" alt="Card image cap">
    </div>
    <div class="card-body"  >
      <h2 class="card-title">{{product.title}}</h2>
      <h3 class="card-text">${{product.price}}</h3>
      <div style="margin-bottom: 29px;">
        <select style="width: 100px;" (change)="numberSelected($event)">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <button  class="btn btn-primary" (click)="addFav(product)">Add to cart</button>
    </div>
  </div>
</div>



